{% extends 'base.html.twig' %}

{% block body %}
	<div class="col-md-12 fond">
		<div class="col-md-12 vide2">
            <p>Wild Code School</p>
        </div>
	<div class="col-md-12 pageca">
		<div class="col-md-2"></div>
		<div class="col-md-4 annuel">
			<div class="col-md-12 titre">
				<h4>CA Annuel <select name="caecole" id="caecole">
					<option selected>Total</option>
						{% for ecole in ecoles %}
 		        			<option id="selected" name="selected" value="{{ ecole.ville }}">{{ ecole.ville }}</option>
 		         		{% endfor %}
						</select>
				</h4>
			</div>
			<div class="col-md-12 blanc">
				<p id="chiffre">
					{{ ca|number_format(2, ',', ' ') }} € TTC<br/>
					{{ caht|number_format(2, ',', ' ') }} € HT
				</p>
			</div>
		</div>
		<script>
	        $('#caecole').change(function() {
	            ecole = $(this).val();

	            $.ajax({
	              type: "POST",
	              url: "{{ path('cabyecole') }}",
	              dataType: "json",
	              data: {ecole : ecole},
	              success : function(response) {
	              		var result = response[0];

	              		$( "#chiffre" ).empty();
	              		$( "#chiffre" ).append(result.cattc+"€ TTC <br>"+result.caht+"€ HT");

	              		},
	              error : function(response) {
	              		console.log('fail');
	              }
	            });
	        });
	    </script>
		<div class="col-md-4 mensuel">
			<div class="col-md-12 titre">
				<h4>CA Mensuel
					<select name="camensuecole" id="camensuecole">
						<option selected>Total</option>
							{% for ecole in ecoles %}
		        				<option id="selected" name="selected" value="{{ ecole.ville }}">{{ ecole.ville }}</option>
		         			{% endfor %}
					</select>
				</h4>
			</div>
			<div class="col-md-12 blanc">
				<p id="chiffremensu">
					{{ camois|number_format(2, ',', ' ') }} € TTC<br/>
				   	{{ camoisht|number_format(2, ',', ' ') }} € HT
				</p>
			</div>

			<script>
		        $('#camensuecole').change(function() {
		            ecole = $(this).val();

		            $.ajax({
		              type: "POST",
		              url: "{{ path('caMensubyecole') }}",
		              dataType: "json",
		              data: {ecole : ecole},
		              success : function(response) {
		              		var result = response[0];

		              		$( "#chiffremensu" ).empty();
		              		$( "#chiffremensu" ).append(result.cattc+"€ TTC <br>"+result.caht+"€ HT");

		              		},
		              error : function(response) {
		              		console.log('fail');
		              }
		            });
		        });
		    </script>

			<div class="col-md-2"></div>
		</div>
	</div>
	<div class="col-md-12 vide3"></div>
						
	<div class="col-md-12 pagepaiement">
			<div class="col-md-2"></div>
			<div class="col-md-8 retard">
				<div class="col-md-12 titre">
					<h4>Paiements en retard</h4>
				</div>
				<div class="col-md-12 blanc">
					<h4>liste des retards</h4>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
	</div>
	<div class="col-md-12 bandeau">
		<p>Mois en cours : {{ "now"|date("m/Y") }}</p>
	</div>

{% endblock %} 