{% extends 'base.html.twig' %}

{% block body %}


<div class="col-md-3"></div>
<div class="col-md-6 edit-cli-form">
    <div class="col-md-12">
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
	<form action="{{ path('edit_client', { 'idclient': client.id }) }}" method="post">
		<div class="col-md-12">
			<h2 class="list-client-title"> Editer Un Client </h2>
		</div>
        <div class="col-md-12 edit-line">
            <div class="col-md-4">
                <label for="nom">Nom :</label>
            </div>
            <div class="col-md-8">
                <input type="string" id="nom" name="nom" value="{{ client.nom }}"/>
            </div>
        </div>
        <div class="col-md-12 edit-line">
            <div class="col-md-4">
                <label for="contenu">Typologie :</label>
            </div>
            <div class="col-md-8">
                <textarea class="typo-input" type="text"  id="typo" name="typologie" value="{{ client.type }}">{{ client.type }}</textarea>
            </div>
        </div>
         <div class="col-md-12 edit-line">
            <div class="col-md-4">
                <label for="ecole">Ecole :</label>
            </div>
            <div class="col-md-8">
                <textarea class="typo-input" type="text"  id="ecole" name="ecole" value="{{ client.idecole }}">{{ client.idecole }}</textarea>
            </div>
        </div>
        <div class="col-md-12">
            <input type="hidden" name="hidden" value="1"/>
        </div>
        <div class="col-md-12">
        	<div class="col-md-5"></div>
        	<div class="col-md-2">
            	<input type="submit" class="btn btn-primary" id="_submit" name="submit" value="Envoyer" />
            </div>
            <div class="col-md-5"></div>
        </div>
    </form>
</div>
<div class="col-md-3"></div>

{% endblock %}