{% extends 'base.html.twig' %}

{% block body %}

<div class="col-md-12">
	<h2 class="list-ecole-title"> Liste des Écoles Existantes </h2>
</div>
<div class="col-md-12">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="col-md-12">
	        {% for label, flashes in app.session.flashbag.all %}
	            {% for flash in flashes %}
	                <div class="alert alert-{{ label }}">
	                    {{ flash }}
	                </div>
	            {% endfor %}
	        {% endfor %}
    	</div>
		<table class="tab_ecole">
		   <tr>
		       
		       <th>Ville</th>
		       <th>Adresse</th>
		   </tr>

		   {% for ecole in ecoles %}
				<tr>
			       
			       <td>{{ ecole.ville }}</td>
			       <td class="contenu-tab">{{ ecole.adresse }}</td>
			       <td> <a href="{{ path('edit_ecole', { 'idecole': ecole.id }) }}">Editer</a> </td>
			       <td> <a href="{{ path('supr_ecole', { 'idecole': ecole.id }) }}">Supprimer</a> </td>
			   </tr>
			{% endfor %}
		</table>
	</div>
	<div class="col-md-2"></div>
</div>

{% endblock %}