{% extends 'base.html.twig' %}

{% block body %}

<div class="row">
	<div class="col-md-12">
		<div class="col-md-3"></div> 
		<div class="col-md-6 prod-form">
			<div class="col-md-12">
				{% for label, flashes in app.session.flashbag.all %}
	    			{% for flash in flashes %}
	        			<div class="alert alert-{{ label }}">
	            			{{ flash }}
	        			</div>
	    			{% endfor %}
				{% endfor %}
				<h2 class="new-prod-title"> Créer un Document </h2>
			</div>
    		{{ form_start(form) }}
    			<div class="col-md-12">
    				<div class="col-md-5">
						<p><label for="type">type de document  </label>
					</div>
					<div class="col-md-7">
						{{ form_widget(form.type) }}
						
					</div>
				</div>
						</p></br>
				<div class="col-md-12">
					<div class="col-md-5">
						<p><label for="référence">référence du document </label>
					</div> 
					<div class="col-md-7">
						{{ form_widget(form.reference) }}</br>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<p><label for="référence">date de création du document </label>
					</div> 
					<div class="col-md-7">
						{{ form_widget(form.datecreation) }}</br>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<p><label for="référence">nom client </label>
					</div> 
					<div class="col-md-7">
						{{ form_widget(form.etat) }}</br>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<p><label for="référence">nombre d'échéances </label>
					</div> 
					<div class="col-md-7">
						{{ form_widget(form.nbreecheance) }}</br>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<p><label for="référence">montant HT </label>
					</div> 
					<div class="col-md-7">
						{{ form_widget(form.value) }}</br>
					</div>
				</div>
			{{ form_end(form) }}
				<div class="col-md-12">
					<div class="col-md-7">
						<input type="submit" class="btn btn-primary" value="Enregistrer"/>
					</div>
					
					<div class="col-md-5">
						{# <a href="{{ path('new_devis') }}"><input type="submit" class="btn btn-primary" value="Ouvrir"/></a>	 #}
					</div>
				</div>

	</div>
</div>


{% endblock %}

