{% extends 'base.html.twig' %}

{% block body %}

<div class="row fond">
	<div class="col-md-12 doc">
		<div class="col-md-3"></div> 
		<div class="col-md-6 prod-form">
			<div class="col-md-12">
				{% for label, flashes in app.session.flashbag.all %}
	    			{% for flash in flashes %}
	        			<div class="alert alert-{{ label }}">
	            			{{ flash }}
	        			</div>
	    			{% endfor %}
				{% endfor %}
				<h2 class="new-prod-title"> Créer un Document </h2>
			</div>
    		{{ form_start(form) }}
    			<div class="col-md-12">
    				<div class="col-md-5">
						<p><label for="type">type de document  </label>
					</div>
					<div class="col-md-7">
						<p>{{ type }}</p>
						
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<p><label for="produit">Produit Prédéfini </label>
					</div> 
					<div class="col-md-7">
						<select name="produit" id="produit">
							{% for product in products %}
		 		        		<option value="{{ product.id }}">{{ product.nom }}</option>
		 		         	{% endfor %}
						</select>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<p><label for="référence">date de création du document </label>
					</div> 
					<div class="col-md-7">
						<p>{{ "now"|date("d/m/Y") }}</p>
						<input type="hidden" name="date" value="{{ "now"|date("d/m/Y") }}"/>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<p><label for="référence">nom client </label>
					</div> 
					<div class="col-md-7">
						{{ client.nom }}</br>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<p><label for="référence">nombre d'échéances </label>
					</div> 
					<div class="col-md-7">
						{{ form_widget(form.nbreecheance) }}</br>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<p><label for="quantite">quantite </label>
					</div> 
					<div class="col-md-7">
						<input type="integer" name="quantite" value=""/></br>
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<p><label for="value">montant HT </label>
					</div> 
					<div class="col-md-7">
						{% if value is empty %}
							<input name="value" value=""/>
						{% else %}
							{{ value }}
						{% endif %}
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<p><label for="tva">TVA</label>
					</div> 
					<div class="col-md-7">
						{% if client.tva is empty %}
							<input name="value" value=""/>
						{% else %}
						{{ client.tva }} %
						{% endif %}
						
					</div>
				</div>
				<div class="col-md-12">
					<div class="col-md-5">
						<input type="hidden" name="month" value="{{ "now"|date("m") }}"/>
						<input type="hidden" name="year" value="{{ "now"|date("Y") }}"/>
					</div> 
				</div>
				<div class="col-md-12">
					<div class="col-md-10">
						<input type="submit" class="btn btn-warning" value="Enregistrer"/>
					</div>
					<div class="col-md-2">
						<a href="{{ path('fiche_client', { 'idclient': client.id }) }}"><input type="button" class="btn btn-warning" value="Retour"/></a>	
					</div>
				</div>
				{{ form_end(form) }}
					
					
				

	</div>
</div>


{% endblock %}

