
{% extends 'base.html.twig' %}

{% block body %}
	<div class="col-md-12">
        {% for label, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ label }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <form action="{{ path('new_devis', { 'iddocument':document.id, 'idclient':client.id }) }}" method="post">
		<div class="col-md-12">
			
			<div class="col-md-6">
				<img src="{{ asset('../web/img/big_logo_text.png') }}" width="45%" alt="grand logo Wild Code School" class="logo-brand" />
			</div>
				<br/>
			
			<div class="col-md-5 entete" >
				<p><input type="string" id="type" name="type" value="{{ document.type }}"><br/>
					Réf. : <input type="string" id="reference" name="reference" value="{{ document.reference }}"/><br/>
					Date : <input type="string" id="datecreation" name="datecreation" value="{{ document.datecreation }}"><br/>
					Date de fin de validité : {{ "now"|date_modify("+1 month")|date("d/m/Y") }}<br/>
				</p>
					<br/><br/>
			</div>
			<div class="col-md-1"></div>
		</div>
		<div class="col-md-12 entete2">
			<div class="col-md-1"></div>
			<div class="col-md-5">
				<p>Emetteur : <br/><br/>
					INNOV'EDUC<br/>
					18, rue de la gare<br/>
					28240 LA LOUPE<br/><br/>
					Téléphone : 09-72-52-63-94<br/>
					Email : contact@wildcodeschool.fr<br/>
					web : http://wildcodeschool.fr<br/>
				</p>
			</div>
			<p>Adressé à :</p>
			<div class="col-md-5 adresse">
				<h5>{{ client.nom }}</h5>
				<h5>{{ client.adresse }}</h5>
			</div>
			<div class="col-md-1"></div>
			<br/>
		</div>
		<div class="phrase">
			<p>Montants exprimés en euros</p>
		</div>
		<div class="col-md-12">
			<div class="col-md-1">
				
			</div>
			<div class="col-md-10 tableau">
				<br/><br/>
					<div align="CENTER"> 
						<table width=1000px cellpadding=3 border="1">
							<tr valign="baseline">
								<td width= 500px align="left">Désignation</td> 
								<td width= 100px align="center">TVA</td> 
								<td width= 100px align="center" >P.U HT</td>
								<td width= 100px align="center"> Qté</td>
								<td align="right"> Total HT</td>
							</tr> 
							<tr height=500px valign="baseline">
								<td align="left"><textarea name="designation" style="width: 500px; height: 500px">{{ produits.type }} {{ produits.nom }} </textarea></td> 
								<td align="right"><textarea name="tva" style="width: 100px; height: 500px">{{ document.tva }}</textarea></td> 
								<td align="right"><textarea name="p.u" style="width: 100px; height: 500px"> {{ document.value }}</textarea></td> 
								<td align="right"><textarea name="qte" style="width: 100px; height: 500px"></textarea></td>
								<td align="right"> p.u * qte </td>
							</tr> 
						</table>
						<div class="col-md-12 ligne">
							<div class="col-md-6">Conditions de reglements : Payée au vue des heures réalisées</div>
							<div class="col-md-3">Total HT<br/>Total TTC</div>
							<div class="col-md-3"><br/></div>
						</div>
					</div>
			</div>
			<div class="col-md-1">
				
			</div>
		</div>		
		<div class="col-md-12 bouton">
			<div class="col-md-9">
				
			</div>
			<div class="col-md-2">
		       	<a href="{{ path('new_pdf',{ 'idclient': client.id }) }}" class="btn-danger btn-lg">PDF</a>
		   	</div>
		    <div class="col-md-1">
		    	
		    </div>
		</div>
	</form>
	<div class="col-md-12 vide">AJOUTER ICI LES PENALITES DE RETARD</div>
	<div class="col-md-12 pied"> 
		<p>Société par actions simplifiée (SAS) - Capital de 7000€ - SIRET 794 925 063 00023<br/>NAF-APE: 8560Z + Num. TVA: FR 27 794 926 063</p>
	</div>	

{% endblock %}

