{% extends 'base.html.twig' %}

{% block body %}

<div class="col-md-12">
	<div class="col-md-3"></div>
	<div class="col-md-6 prod-form">
		<div class="col-md-12">
			{% for label, flashes in app.session.flashbag.all %}
	    		{% for flash in flashes %}
	        		<div class="alert alert-{{ label }}">
	            		{{ flash }}
	        		</div>
	    		{% endfor %}
			{% endfor %}
		</div>
		<div class="col-md-12">
			<h2 class="new-prod-title"> Créer un Produit prédéfini </h2>
		</div>
		{{ form_start(form) }}
		<div class="col-md-12 prod-widg">
			<div class="col-md-3">
				<p> Type : </p>
			</div>
			<div class="col-md-9">
				{{ form_widget(form.type) }}
			</div>
		</div>
		<div class="col-md-12 prod-widg">
			<div class="col-md-3">
				<p> Nom : </p>
			</div>
			<div class="col-md-9">
				{{ form_widget(form.nom) }}
			</div>
		</div>
		<div class="col-md-12 prod-widg">
			<div class="col-md-3">
				<p> Contenu : </p>
			</div>
			<div class="col-md-9">
				{{ form_widget(form.contenu) }}
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<input type="submit" class="btn btn-primary" id="_submit" name="submit" value="Envoyer" />
			</div>
			<div class="col-md-4"></div>
		</div>
		{{ form_end(form) }}
	</div>
	<div class="col-md-3"></div>
</div>

{% endblock %}