<style type="text/css">
	table{ vertical-align:top;width:100%;font-family:helvetica;line-height:3mm; }
	img{
		width:50px;
		height:60px;
	}
	td.right_haut {text-align: right;}
	td.right_bas {border:1px solid #CFD1D2;}
	table.border td{border:1px solid #CFD1D2; padding:3mm 1mm 1mm 2mm;height:400px;}
	table.border th{ background: #E7E7E7; color:#000; font-weight:normal; border:solid 1px #CFD1D2; padding:3mm 1mm 1mm 2mm; text-align: left; }
	table.total td{border:1px solid #CFD1D2; padding:2mm 1mm; text-align: center}
	td.noborder {border:none;}
	hr {color: #E5A047}
</style>

<page backtop="10mm" backright="10mm" backleft="10mm" backbottom="20mm" footer="page; date; heure;">
	<page_footer>
	<hr />
	<p style="text-align:center">Société par actions simplifiée (SAS) - Capital de 7000€ - SIRET 794 925 063 00023<br />NAF-APE: 8560Z + Num. TVA: FR 27 794 926 063</p>	
	</page_footer>

	<table style="line-height:4mm;">
		<tr>
			<td style="width:50%; ">
				<img src="../web/img/big_logo_text.jpg" width="45%" alt="grand logo Wild Code School" class="logo-brand" />

			</td>
			<td class="right_haut" style="width:50%; ">
				<p><strong><font style="text-transform: uppercase;">{{ document.type }}</font></strong><br/>
				<strong>Réf. : {{ document.reference }}</strong><br/>
				Date : {{ document.datecreation }}<br/>
				Validité : 1 Mois<br/>
				
				</p>


			</td>
		</tr>
	</table>
	<table style="margin-top:10mm;  line-height:4mm;">
		<tr>
			<td style="width:50%; ">
				<p>Emetteur : <br/><br/>
				<strong>INNOV'EDUC</strong><br/>
				18, rue de la gare<br/>
				28240 LA LOUPE<br/><br/>
				Téléphone : 09-72-52-63-94<br/>
				Email : contact@wildcodeschool.fr<br/>
				Web : http://wildcodeschool.fr
				</p>

			</td>
			<td class="right_bas" style="width:50%; ">
				<p>Destinataire :<br/>
				<h5>{{ client.nom }}</h5>
				<h5>{{ client.adresse }}</h5></p>
			</td>
		</tr>
	</table>
	<table style="text-align:right; width:100%; margin-top:4mm;">
		<tr>
			<td style="width:50%;"></td>
			<td style="text-align:right; width:50%;">Montants exprimés en Euros</td>
		</tr>
	</table>
	<table class="border" style="margin-top:2mm;">
		<thead >
			<tr>
				<th style="width:55%; " align:"left">Désignation</th> 
				<th style="width:10%; ">TVA</th> 
				<th style="width:10%; ">P.U HT</th>
				<th style="width:10%; "> Qté</th>
				<th style="width:15%; "> Total HT</th>
			</tr>
		</thead> 
		<tr>
			<td align="left">{{ produits.type }} {{ produits.nom }}</td> 
			<td align="center">{{ document.tva }}</td> 
			<td align="center">{{ document.value }}</td> 
			<td align="center">{{ document.quantite }}</td>
			<td align="center">{{ valuetotaleHT }} </td>
		</tr>
	</table>
	<table class="total"> 
		<tr>
			<td class="noborder" style="width:25%"><strong>Conditions de reglements :</strong></td> 
			<td class="noborder" style="width:30%"></td> 
			<td style="width:15%">Total HT	:	{{ valuetotaleHT }}</td>
			<td style="width:15%">Total TVA	:	{{ valuetva }}</td> 
			<td style="width:15%">Total TTC	:	{{ valueTTC }}</td>
		</tr> 
	</table>
	<p style="padding-top:40px; text-align:center; font-size:12px">Des pénalités correspondant à trois fois le taux de l’intérêt légal seront applicables en l’absence ou en cas de retard de paiement.
	une indemnité forfaitaire de 40 € pour frais de recouvrement sera appliquée en cas de retard de paiement conformément aux articles L 441-3 et L 441-6 du code de commerce.</p>
</page>
