{% extends 'base.html.twig' %}
{% block body %}

{% trans_default_domain 'FOSUserBundle' %}


<div class="row ">
	<div class="col-md-5 col-md-offset-3 font-user">
		{% for label, flashes in app.session.flashbag.all %}
		    {% for flash in flashes %}
		        <div class="alert alert-{{ label }}">
		            {{ flash }}
		        </div>
		    {% endfor %}
		{% endfor %}
		<h2> Créer un nouveau campus manager</h2>
		
		{{ form_start(form, {'method': 'post', 'action': path('new_user'), 'attr': {'class': 'fos_user_registration_register', 'novalidate':'novalidate'}}) }}
		<div class="row champ-log">
			<div class="col-md-6">
				<label>Nom d'utilisateur :</label>
			</div>
			<div class="col-md-6">
				{{ form_widget(form.username) }}
				{{ form_errors(form.username) }}	
			</div>
		</div>

<div class="row champ-log">
			<div class="col-md-6">
				<label>Ecole</label>
			</div>
			<div class="col-md-6">
				<select name="ecole" id="ecole">
					{% for ecole in ecoles %}
						<option value="{{ ecole.ville }}">{{ ecole.ville }}</option>
					{% endfor %}
				</select>	
			</div>
		</div>
		<div class="row champ-log">
			<div class="col-md-6">
				<label>Adresse email :</label>
			</div>
			<div class="col-md-6">
				{{ form_widget(form.email) }}
				{{ form_errors(form.email) }}	
			</div>
		</div>

		<div class="row champ-log">
			<div class="col-md-6">
				<label>Mot de passe :</label>
			</div>
			<div class="col-md-6">
				{{ form_widget(form.plainPassword.first) }}
				{{ form_errors(form.plainPassword.first) }}	
			</div>
		</div>
		<div class="row champ-log">
			<div class="col-md-6">
				<label>Confirmation :</label>
			</div>
			<div class="col-md-6">
				{{ form_widget(form.plainPassword.second) }}
				{{ form_errors(form.plainPassword.second) }}	
			</div>
		</div>
		<div class="row">
		    <div class="col-md-5 col-md-offset-6 btn-register">
		        <input class="btn btn-info" type="submit" value="{{ 'Créer Campus Manager'|trans }}" />
		    </div>
		</div>
				
		{{ form_end(form) }}
	</div>
</div>
{% endblock %}