{% extends 'base.html.twig' %}

{% block body %}

<div class="col-md-12 row1">
	<div class="col-md-1"></div>
	<div class="col-md-4 client">
		<div class="col-md-12 cli-widg">
			<div class="col-md-6">
				<label for="nom">Nom :</label>
			</div>
			<div class="col-md-6">	{{ client.nom }}
			</div>
		</div>
		<div class="col-md-12 cli-widg">
			<div class="col-md-6">
				<label for="nom">Type :</label>
			</div>
			<div class="col-md-6">	{{ client.type }}
			</div>
		</div>
		<div class="col-md-12 cli-widg">
			<div class="col-md-6">
				<label for="nom">Adresse :</label>
			</div>
			<div class="col-md-6">	{{ client.adresse }}
			</div>
		</div>
		<div class="col-md-12 cli-widg">
			<div class="col-md-6">
				<label for="nom">Ad. de facturation :</label>
			</div>
			<div class="col-md-6">	{{ client.adressefactu }}
			</div>
		</div>
		<div class="col-md-12 cli-widg">
			<div class="col-md-6">
				<label for="nom">Email :</label>
			</div>
			<div class="col-md-6">	{{ client.email }}
			</div>
		</div>
		<div class="col-md-12 cli-widg">
			<div class="col-md-6">
				<label for="nom">Portable :</label>
			</div>
			<div class="col-md-6">	{{ client.portable }}
			</div>
		</div>
		<div class="col-md-12 cli-widg">
			<div class="col-md-6">
				<label for="nom">Fixe :</label>
			</div>
			<div class="col-md-6">	{{ client.telephonefixe }}
			</div>
		</div>
		<div class="col-md-12 cli-widg">
			<div class="col-md-6">
				<label for="nom">Ecole :</label>
			</div>
			<div class="col-md-6">	{{ client.ecole }}
			</div>
		</div>		
	</div>
	<div class="col-md-1"></div>
	<div class="col-md-5 ">
		<div class="col-md-12 echeancier">
			echeancier
		</div>
		<div class="col-md-12 vide"></div>
		<div class="col-md-12 reglement">
			<a href="{{ path('reglement', { 'idclient': client.id }) }}"><input type="submit" class="btn btn-primary btn-lg btn-block" value="réglement"/></a>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
<div class="col-md-12 vide"></div>
<div class="col-md-12 row2">
	<div class="col-md-1"></div>
	<div class="col-md-2 ">
		<a href="{{ path('new_devis',{ 'idclient': client.id }) }}"><input type="submit" class="btn-lg btn-primary" value="créer devis"/></a>
	</div>
	<div class="col-md-2"></div>
	<div class="col-md-2 ">
		<a href="{{ path('new_devis', { 'idclient': client.id }) }}"><input type="submit" class="btn-lg btn-success" value="créer facture"/></a>
	</div>
	<div class="col-md-2"></div>
	{# <div class="col-md-2 ">
		<a href="{{ path('new_devis', { 'idclient': client.id }) }}"><input type="submit" class="btn-lg btn-danger" value="créer avoir"/></a>
	</div> #}
	<div class="col-md-1"></div>
</div>
<div class="col-md-12 vide"></div>
<div class="col-md-12 row3">
	<div class="col-md-1"></div>
	<div class="col-md-10 onglet">
		<div class="col-md-12">
            <div class="col-md-4 but1 but">
                <p> DEVIS </p>
            </div>
            <div class="col-md-4 but2 but">
                <p> FACTURE </p>
            </div>
            <div class="col-md-4 but3 but">
				<p> AVOIR </p>
			</div>          
        </div>
        <div class="col-md-12">
        	<div class="col-md-12 case1 pageother">
                <h2> Devis </h2>
            </div>
            <div class="col-md-12 case2 pageother">
                <h2> Factures </h2>
            </div>
            <div class="col-md-12 case3 pageother">
            	<h2> Avoirs </h2> 
            </div>
        </div>                                                         
	</div>
	<div class="col-md-1"></div>
</div>	
		

{% endblock %}