{% extends 'base.html.twig' %}

{% block body %}

<div class="col-md-12">
	<div class="col-md-1"></div>
	<div class="col-md-4 ">
		<div class="col-md-12 col1">
			<div class="col-md-12 cli-widg">
				<div class="col-md-6">
					<label for="nom">Nom :</label>
				</div>
					<div class="col-md-6">	{{ client.nom }}
				</div>
			</div>
			<div class="col-md-12 cli-widg">
				<div class="col-md-6">
					<label for="nom">Type :</label>
				</div>
				<div class="col-md-6">	{{ client.type }}
				</div>
			</div>
			<div class="col-md-12 cli-widg">
				<div class="col-md-6">
					<label for="nom">Adresse :</label>
				</div>
				<div class="col-md-6">	{{ client.adresse }}
				</div>
			</div>
			<div class="col-md-12 cli-widg">
				<div class="col-md-6">
					<label for="nom">Ad. de facturation :</label>
				</div>
				<div class="col-md-6">	{{ client.adressefactu }}
				</div>
			</div>
			<div class="col-md-12 cli-widg">
				<div class="col-md-6">
					<label for="nom">Email :</label>
				</div>
				<div class="col-md-6">	{{ client.email }}
				</div>
			</div>
			<div class="col-md-12 cli-widg">
				<div class="col-md-6">
					<label for="nom">Portable :</label>
				</div>
				<div class="col-md-6">	{{ client.portable }}
				</div>
			</div>
			<div class="col-md-12 cli-widg">
				<div class="col-md-6">
					<label for="nom">Fixe :</label>
				</div>
				<div class="col-md-6">	{{ client.telephonefixe }}
				</div>
			</div>
			<div class="col-md-12 cli-widg">
				<div class="col-md-6">
					<label for="nom">Ecole :</label>
				</div>
				<div class="col-md-6">	{{ client.ecole }}
				</div>
			</div>		
		</div>
		<div class="col-md-12 echeancier">
			<div class="col-md-12 haut">Echeancier </div>
			<div class="col-md-12 milieu">echeancier1<br/>echeancier2</div>
		</div>
	</div>

	<div class="col-md-1"></div>
	<div class="col-md-5 col2">
		<div class="col-md-12 devis">
			<div class="col-md-12 haut">Devis </div>
			<div class="col-md-12 milieu">devis1<br/>devis2{# {{ document.reference }} #}</div>
			<div class="col-md-12 bas"><a href="{{ path('reglement', { 'idclient': client.id }) }}"><input type="submit" class="btn-primary " value="generer la facture"/></a><a href="{{ path('reglement', { 'idclient': client.id }) }}"><input type="submit" class=" btn-primary" value="modifier"/></a><a {# href="{{ path('reglement', { 'idclient': client.id }) }}" #} onclick="return(prompt('merci de justifier le refus'));"><input type="submit" class="btn-primary" value="refusé"  /></a><a href="{{ path('reglement', { 'idclient': client.id }) }}"><input type="submit" class="btn-primary" value="supprimer"/></a></div>
		</div>
		<div class="col-md-12 facture">
			<div class="col-md-12 haut">Facture</div>
			<div class="col-md-12 milieu">facture1<br/>facture2{# {{ document.reference }} #}</div>
			<div class="col-md-12 bas"><a href="{{ path('reglement', { 'idclient': client.id }) }}"><input type="submit" class="btn-success" value="emettre un avoir"/></a><a href="{{ path('reglement', { 'idclient': client.id }) }}"><input type="submit" class=" btn-success" value="modifier"/></a><a href="{{ path('reglement', { 'idclient': client.id }) }}"><input type="submit" class="btn-success" value="envoyée"/></a><a href="{{ path('reglement', { 'idclient': client.id }) }}"><input type="submit" class="btn-success" value="supprimer"/></a><a href="{{ path('reglement', { 'idclient': client.id }) }}"><input type="submit" class="btn-success" value="réglement"/></a></div>
		</div>
		<div class="col-md-12 avoir">
			<div class="col-md-12 haut">Avoir </div>
			<div class="col-md-12 milieu">avoir1{# {{ document.reference }} #}</div>
			<div class="col-md-12 bas"><a href="{{ path('reglement', { 'idclient': client.id }) }}"><input type="submit" class="btn-danger" value="supprimer"/></a></div>
		</div>
		<div class="col-md-12 bout">
			<div class="col-md-8 ">
				<a href="{{ path('new_devis',{ 'idclient': client.id }) }}"><input type="submit" class="btn-lg btn-primary" value="créer devis"/>
				</a>
			</div>
			<div class="col-md-4 ">
				<a href="{{ path('new_devis', { 'idclient': client.id }) }}"><input type="submit" class="btn-lg btn-success" value="créer facture"/>
				</a>
			</div>
		</div>
	</div>
</div>

		

{% endblock %}