{% extends 'base.html.twig' %}

{% block body %}
<div class="col-md-12 as"></div>
<div class="col-md-12 fond">
	<div class="col-md-1"></div>
	<div class="col-md-5 ">
		<div class="col-md-12 col1">
			<div class="col-md-12 haut">Fiche client </div>
			<div class="col-md-12 milieu2">
				<div class="col-md-12 cli-widg">
					<div class="col-md-6">
						<label for="nom">Nom :</label>
					</div>
						<div class="col-md-6">	{{ client.nom }}
					</div>
				</div>
				<div class="col-md-12 cli-widg">
					<div class="col-md-6">
						<label for="nom">Type :</label>
					</div>
					<div class="col-md-6">	{{ client.type }}
					</div>
				</div>
				<div class="col-md-12 cli-widg">
					<div class="col-md-6">
						<label for="nom">Adresse :</label>
					</div>
					<div class="col-md-6">	{{ client.adresse }}
					</div>
				</div>
				<div class="col-md-12 cli-widg">
					<div class="col-md-6">
						<label for="nom">Ad. de facturation :</label>
					</div>
					<div class="col-md-6">	{{ client.adressefactu }}
					</div>
				</div>
				<div class="col-md-12 cli-widg">
					<div class="col-md-6">
						<label for="nom">Email :</label>
					</div>
					<div class="col-md-6">	{{ client.email }}
					</div>
				</div>
				<div class="col-md-12 cli-widg">
					<div class="col-md-6">
						<label for="nom">Portable :</label>
					</div>
					<div class="col-md-6">	{{ client.portable }}
					</div>
				</div>
				<div class="col-md-12 cli-widg">
					<div class="col-md-6">
						<label for="nom">Fixe :</label>
					</div>
					<div class="col-md-6">	{{ client.telephonefixe }}
					</div>
				</div>
				<div class="col-md-12 cli-widg">
					<div class="col-md-6">
						<label for="nom">Ecole :</label>
					</div>
					<div class="col-md-6">	{{ client.ecole }}
					</div>

				</div>
			</div>
		</div>
		<div class="col-md-12 echeancier">
			<div class="col-md-12 haut">
				Echeancier 
			</div>
			<div class="col-md-12 milieu">
				echeancier1
				<br/>
				echeancier2
			</div>
		</div>
	</div>

	<div class="col-md-5 col2">
			{% for label, flashes in app.session.flashbag.all %}
	            {% for flash in flashes %}
	                <div class="alert alert-{{ label }}">
	                    {{ flash }}
	                </div>
	            {% endfor %}
	        {% endfor %}
		<div class="col-md-12 devis btn-group">
			<div class="col-md-12 haut">Devis </div>
			<div class="col-md-12 milieu">
				{% if tabde is empty %}
					<p>Aucun Devis en cours</p>
				{% else %}
					{% for devis in tabde %}
						{% if devis.etat != 'delete' %}
							<div class="col-md-9 ">DE  {{ devis.reference }} | {{ devis.datecreation }}
								{% if devis.etat == 'refuse' %}
									<img src="{{ asset('../web/img/tick.png') }}"  alt="tick" class="" />
								{% endif %}
							</div>
							<div class="col-md-3 dropdown">
								<button type="button" class="btn btn-xs btn-warning">Action</button>
								<button type="button" class="btn btn-xs btn-warning dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu dropdown-menu-left " role="menu">
									<li><a href="{{ path('new_devis', { 'idclient': client.id, 'iddocument': devis.id }) }}">Voir le Devis</a></li>
									<li><a href="{{ path('new_facture', { 'idclient': client.id, 'iddocument': devis.id }) }}">Générer la facture</a></li>
									<li><a href="{{ path('refus_doc', { 'idclient': client.id, 'iddocument': devis.id  }) }}" onclick="return(prompt('merci de justifier le refus'))";>Refusé</a></li>
									<li class="divider"></li>

									<li><a href="{{ path('supr_doc', { 'idclient': client.id, 'iddocument': devis.id  }) }}">Supprimer</a></li>
								</ul><br/>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="col-md-12 facture">
			<div class="col-md-12 haut">Facture </div>
			<div class="col-md-12 milieu">
				{% if tabfa is empty %}
					<p>Aucune facture en cours</p>
				{% else %}
					{% for facture in tabfa %}
						{% if facture.etat != 'delete' %}
							<div class="col-md-9">FA  {{ facture.reference }} | {{ facture.datecreation }}
								{% if facture.etat == 'envoyer' %}
									<img src="{{ asset('../web/img/tack.jpg') }}"  alt="tack" class="" />
								{% endif %}
							</div>
							<div class="col-md-3 test">
								<button type="button" class="btn btn-xs btn-warning">Action</button>
								<button type="button" class="btn btn-xs btn-warning 	dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li><a href="{{ path('new_facture', { 'idclient': client.id, 'iddocument': facture.id }) }}">Voir la Facture</a></li>
									<li><a href="{{ path('new_avoir', { 'idclient': client.id, 'iddocument':facture.id }) }}">Emettre un avoir</a></li>
									<li><a href="{{ path('env_doc', { 'idclient': client.id, 'iddocument': facture.id  }) }}">Classée comme envoyée</a></li>
									<li><a href="{{ path('supr_doc', { 'idclient': client.id, 'iddocument': facture.id  }) }}" onclick="return(confirm('Vous allez supprimer cette facture !'))";>Supprimer</a></li>
									<li class="divider"></li>
									<li><a href="{{ path('reglement', { 'idclient': client.id }) }}">Réglement</a></li>
								</ul><br/>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>

		<div class="col-md-12 avoir btn-group">
			<div class="col-md-12 haut">Avoir </div>
			<div class="col-md-12 milieu">
				{% if tabav is empty %}
					<p>Aucun avoir en cours</p>
				{% else %}
					{% for avoir in tabav %}
						{% if avoir.etat != 'delete' %}
							<div class="col-md-9">AV  {{ avoir.reference }} | {{ avoir.datecreation }}</div>
							<div class="col-md-3 test">
								<button type="button" class="btn btn-xs btn-warning">Action</button>
								<button type="button" class="btn btn-xs btn-warning 	dropdown-toggle" data-toggle="dropdown">
									<span class="caret"></span>
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<ul class="dropdown-menu fred" role="menu">
									<li><a href="{{ path('new_avoir', { 'idclient': client.id, 'iddocument': avoir.id }) }}">Voir l'Avoir</a></li>
									<li><a href="{{ path('supr_doc', { 'idclient': client.id, 'iddocument': avoir.id  }) }}" onclick="return(confirm('Vous allez supprimer cet avoir !'))";>Supprimer</a></li>
								</ul><br/>
							</div>
						{% endif %}
					{% endfor %}
				{% endif %}
			</div>
		</div>
		<div class="col-md-12 bout">
			<div class="col-md-8 ">

				<a href="{{ path('new_document', { 'idclient': client.id, 'type': 'devis' }) }}"><input type="submit" class="btn-lg btn-warning" value="créer devis"/>
				</a>
			</div>
			<div class="col-md-4 ">
				<a href="{{ path('new_document', { 'idclient': client.id, 'type': 'facture' }) }}"><input type="submit" class="btn-lg btn-warning" value="créer facture"/>
				</a>

			</div>
		</div>
	</div>
</div>

{% endblock %}