{% extends 'base.html.twig' %}

{% block body %}

<div class="col-md-12 fond">
	<div class="col-md-3"></div>
	<div class="col-md-6 prod-form doc">
		<div class="col-md-12">
			{% for label, flashes in app.session.flashbag.all %}
	    		{% for flash in flashes %}
	        		<div class="alert alert-{{ label }}">
	            		{{ flash }}
	        		</div>
	    		{% endfor %}
			{% endfor %}
		</div>
		<div class="col-md-12">
			<h2 class="new-client-title"> Créer un Nouveau Client </h2>
		</div>
		{{ form_start(form) }}
		<div class="col-md-12 cli-widg">
			<div class="col-md-4">
				<p> Type : </p>
			</div>
			<div class="col-md-8">
				{{ form_widget(form.type) }}
			</div>
		</div>
		<div class="col-md-12 cli-widg">
			<div class="col-md-4">
				<p> Nom : </p>
			</div>
			<div class="col-md-8">
				{{ form_widget(form.nom) }}
			</div>
		</div>
		<div class="col-md-12 cli-widg">
			<div class="col-md-4">
				<p> adresse : </p>
			</div>
			<div class="col-md-8">
				{{ form_widget(form.adresse) }}
			</div>
		</div>
		<div class="col-md-12 cli-widg">
			<div class="col-md-4">
				<p> adresse facturation: </p>
			</div>
			<div class="col-md-8">
				{{ form_widget(form.adressefactu) }}
			</div>
		</div>
		<div class="col-md-12 cli-widg">
			<div class="col-md-4">
				<p> email : </p>
			</div>
			<div class="col-md-8">
				{{ form_widget(form.email) }}
			</div>
		</div>
		<div class="col-md-12 cli-widg">
			<div class="col-md-4">
				<p> organisme payeur : </p>
			</div>
			<div class="col-md-8">
				<select name="orga" id="orga">
					{% for orga in orgas %}
 		        		<option value="{{ orga.nom }}">{{ orga.nom }}</option>
 		         	{% endfor %}
				</select>
			</div>
		</div>
		<div class="col-md-12 cli-widg">
			<div class="col-md-4">
				<p> bourse : </p>
			</div>
			<div class="col-md-8">
				{{ form_widget(form.bourse) }}
			</div>
		</div>
		<div class="col-md-12 cli-widg">
			<div class="col-md-4">
				<p> téléphone fixe : </p>
			</div>
			<div class="col-md-8">
				{{ form_widget(form.telephonefixe) }}
			</div>
		</div>
		<div class="col-md-12 cli-widg">
			<div class="col-md-4">
				<p> portable : </p>
			</div>
			<div class="col-md-8">
				{{ form_widget(form.portable) }}
			</div>
		</div>
		<div class="col-md-12 cli-widg">
			<div class="col-md-4">
				<p> école : </p>
			</div>
			<div class="col-md-8">
				<select name="ecole" id="ecole">
					{% for ecole in ecoles %}
 		        		<option value="{{ ecole.ville }}">{{ ecole.ville }}</option>
 		         	{% endfor %}
				</select>
			</div>
		</div>
		<div class="col-md-12">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<input type="submit" class="btn btn-warning" id="_submit" name="submit" value="Envoyer" />
			</div>
			<div class="col-md-4"></div>
		</div>
		{{ form_end(form) }}
	</div>
	<div class="col-md-3"></div>
</div>

{% endblock %}